.imagenesico {
    background-color: white;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 250%;
    width: 60px;
}

#imagenesprimer {

    cursor: pointer;
    transition: all 2s ease-in-out;


}

#imagenesprimer:hover {
    transform: scale(1.5);
}

#imagenmuj {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}


#btnenviar {
    text-align: center;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    padding: 10px;
    display: block;
}

#contact-form {


    margin: 0 auto;
    padding: 10px;
    display: block;
}

#datos {

    padding: 0 auto;
    height: 200px;

}

#formulario {
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    height: 100px;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    background-color: #495056;

}

#htmlformulario.formulario {

    background-color: #152733;
    overflow: hidden;
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;

    display: flex;

    justify-content: center;

    align-items: center;

}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    height: 600px;
    width: 100%;
    margin-left: 550px;
    


    border-radius: 10px;
    text-align: left;

    transition: all 0.4s ease;
    display: block;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label,
.was-validated .form-check-input:invalid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
    color: #fff;
}

.form-content input[type=text],
.form-content input[type=password],
.form-content input[type=email],
.form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;

    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary {
    background-color: #6C757D;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #495056;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;

    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover,
.form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up {
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback {
    color: #ff606e;
}

.valid-feedback {
    color: #2acc80;
}
#btnregistro{
  margin-left: 100px;
}